/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-dark-color: #1E1F23;

  /* links menu */
  --menu-color: #2B2B2B;

  /* colors for feature photo columns */
  --charcoal-background:#2b2b2b;
  --charcoal-secondary-text:#DDDDDD;
  --charcoal-border: #606060;
  --charcoal-text: var(--white);

  --dark-brown-background: #43392f;
  --dark-brown-text: #F8F8F8;
  --dark-brown-secondary-text: #DDDDDD;
  --dark-brown-border: #726b63;

  --tan-background: #DDDAD0;
  --tan-text: #392514;
  --tan-border: #a6a49c;

  /* global site colors */
  --white: #ffffff;
  --black: #000000;
  --body-text-color: #1C1C1C;
  --background-color: #F8F8F8;
  --footer-background: #e3e3e2;
  --footer-border: #ccc;


  --gradient: linear-gradient(90deg, rgba(191, 212, 231, 0) 0, #2B2B2B 100%);

  /* fonts */
  --body-font-family: museo-sans, sans-serif;
  --heading-font-family: kazimir;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 20px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

/* subheadings */
h5 {
	text-transform: uppercase;
	font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.35px;
	font-family: var(--body-font-family);
    margin: 0;
	color: var(--white);
}

@media (width <= 767px) {
	h2, h3 {
        font: normal normal normal 36px / 46px var(--heading-font-family); 
	}

	h5 {
		font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.97px;
	}
}


p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 30px;
  cursor: pointer;
  color: var(--black);
  background-color: var(--white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 100px;
  margin: 0 auto;
  min-width: 162px;
  width: fit-content;
  font: normal normal normal 16px / 24px museo-sans;
  font-weight: 300;
  letter-spacing: .08px;
  text-decoration: none;
  transition: 0.2s all;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 64px 16px;
}

@media (width >= 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

/* Experimentation Widget Styling */
.hlx-preview-overlay .hlx-badge {
	padding: 1rem 2rem;
	font-size: 18px;
	line-height: normal;
  }
  
  .hlx-preview-overlay .hlx-badge .hlx-popup * {
	font-size: 14px;
  }


/* default content, dark, cta  */
main .section.dark {
	background-color: var(--background-dark-color);
	color: var(--white);
	padding: 44px 0 54px;
	margin-top: 72px;
}

main .section.fullwidth-cta .default-content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .section.fullwidth-cta h3 {
	width: 650px;
    height: 65px;
	text-align: center;
	margin: 12.9px 0 0;
	font-size: 46px;
}

main .section.fullwidth-cta p {
	margin: 14px 0 0 0;
	text-align: center;
	width: 688px;
    font: normal normal normal 20px / 24px museo-sans;
    letter-spacing: 0;
    font-weight: 300;
}

main .section.fullwidth-cta p.button-container {
	margin: 0;
	margin-top: 37px;
}

main .section.fullwidth-cta p.button-container a {
    border: 1px solid var(--white);
	background-color: transparent;
    color: var(--white);
    display: flex;
	padding: 10px 35px;
}

main .section.fullwidth-cta p.button-container a:hover {
	color: var(--background-dark-color);
	background-color: var(--white);
}

/* envelope icon */
main .section.fullwidth-cta .icon-envelope img {
	display: none;
}

main .section.fullwidth-cta .icon-envelope {
	margin: 0 auto;
	display: block;
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 38px;
    height: 27px;
    overflow: hidden;
    border-radius: 4px;
    border: 2px solid var(--white);
}

main .section.fullwidth-cta .icon-envelope::after{
	content: "";
	position: absolute;
	top: -95%;
	left: 14%;
	-ms-transform: rotate(45deg) skew(-4deg, -4deg);
	transform: rotate(45deg) skew(-4deg, -4deg);
	height: 34px;
	width: 29px;
	border: 2px solid var(--white);
}

@media (width <= 767px) {
	main .section.fullwidth-cta {
		padding: 44px 30px 54px;
		margin-top: 96px;
	}

	main .section.fullwidth-cta h3,
	main .section.fullwidth-cta p {
		width: auto;
	}

	main .section.fullwidth-cta h3 {
		font: normal normal normal 36px / 46px var(--heading-font-family); 
	}

	main .section.fullwidth-cta p {
		font-size: 16px;
		line-height: 19px;
		letter-spacing: .08px;
	}
}